*{
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: yellow;
    

}

img{
    display: block;
    margin: 50px auto;
    border-radius: 30px;
}

h1{
    margin: 0 auto;
    background-color: pink;
    height: auto;
    width: 300px;
    color: white;

    text-align: center;
    border-radius: 25px;
}


h2{
    margin: 0 auto;
    background-color: orange;
    height: auto;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}